<%= form_for @driver do |f| %>
  <ul>
    <li>
      <%# @driver.errors[:name].join(" ") %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%# @driver.errors[:points].join(" ") %>
      <%= f.label :points %>
      <%= f.text_field :points %>
    </li>
  </ul>
  <%= f.submit %>
<% end %>
<% if @driver.errors.any? %>
  <ul>
  <% @driver.errors.full_messages.each do |error| %>
    <li>
      <%= error %>
    </li>
  <% end %>
  <ul>
<% end %>